* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; /* Responsive width */
    max-width: 1600px; /* Limit max width for larger screens */
    column-count: 6; /* Default to 6 columns */
    column-gap: 20px;
    padding: 20px;
}

.container .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid; /* Prevent column breaks inside elements */
}

.container .box img,
.container .box video {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .container {
        column-count: 5; /* Reduce to 5 columns */
    }
}

@media (max-width: 960px) {
    .container {
        column-count: 4; /* Reduce to 4 columns */
    }
}

@media (max-width: 720px) {
    .container {
        column-count: 3; /* Reduce to 3 columns */
    }
}

@media (max-width: 480px) {
    .container {
        column-count: 2; /* Reduce to 2 columns */
    }
}

@media (max-width: 320px) {
    .container {
        column-count: 1; /* Single column for very small screens */
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}

.transition-opacity {
    transition: opacity 0.3s ease;
}

.bg-black {
    background-color: black;
}

.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
}
